.dashboard {
  min-height: 100vh;
  background-color: #fff;
}

.logo img {
  max-width: 100px;
}

.sides {
  display: flex;
  margin: 1rem;
}

.leftSide {
  width: 100%;
  margin-right: 1rem;
}

.rightSide {
  width: 100%;
  /* margin-left: 1rem; */

}

@media(max-width: 768px) {
  .sides {
    display: block;
    margin-bottom: 0rem;
  }

  .leftSide{
    margin-bottom: 2rem;
  }

  .rightSide {
    margin-left: 0rem;
    padding-bottom: 2rem;
  }
}