.eachContainer {
  background-color: var(--blue-lighter);
  margin-bottom: 1rem;
  border-radius: 10px;
}

.innerEachContainer {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
}

/* .materialTable {
    width: 100%;
    text-align: center;
} */

.materialTable {
  width: 100%;
  /* min-width: 680px; */
  display: flex;
  flex-direction: column;
}

/* .materialTable tr {
    height: 3rem;
} */

.tableTr {
  display: flex;
  margin-bottom: 1rem;
  /* align-items: center; */
  /* justify-content: center; */
}

.tableTr td,
.materialContent td {
  width: 100%;
  text-align: center;
}

.materialContent {
  display: flex;
  justify-content: space-around;
}

.materialContent td:nth-child(5) {
  display: flex;
  justify-content: center;
}

.tableTh {
  width: 100%;
}

select {
  border: solid 1px var(--blue-darker);
  border-radius: 5px;
  font: normal 16px "Patrick Hand";
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  /* margin: 0.2rem; */
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.2s;

  &:active {
    transform: scale(0.95);
  }
}

.action:hover {
  border-radius: 0px;
  background-color: var(--blue);
  border: 1px solid var(--blue-darker);
  border-radius: 5px;
  transition: 0.2s;
}
/* .action {
  padding: 0.3rem;
  transition: 0.2s;
  border: 1px solid transparent;
  margin: 0px;
}

.action:hover {
  cursor: pointer;
  border: 1px solid var(--blue-darker);
  border-radius: 5px;
  background-color: var(--white);
  transition: 0.2s;
} */

.materialTableMobile {
  display: none;
}

@media (max-width: 768px) {
  .eachContainer:nth-child(1) {
    margin-bottom: 2rem;
  }

  .eachContainer:nth-child(2) {
    margin-bottom: 0rem;
  }

  .innerEachContainer {
    padding-top: 1rem;
  }
}

@media (max-width: 600px) {
  .materialTable {
    display: none;
  }
  .materialTableMobile {
    width: 70%;
    display: block;
  }

  .materialContent td {
    text-align: start;
  }
  .materialTableMobile tbody {
    display: flex;
    flex-direction: column;
  }

  .materialTableMobile tr {
    display: flex;
  }

  .materialTableMobile td {
    width: 100%;
    display: flex;
  }

  .materialTableMobile td:nth-child(1) {
    text-align: right;
    margin-right: 1rem;
  }

  .tdTitle {
    font-weight: bold;
    text-align: right;
  }
}
