.eachContainer {
    background-color: var(--blue-lighter);
    margin-bottom: 1rem;
    border-radius: 10px;
}

.innerEachContainer {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-around;
}

.materialTable {
    width: 100%;
    text-align: center;
}

.materialTable tr {
    height: 3rem;
}

.materialTable td {
    border-top: solid 1px #FFF;
}

.materialContent {
    font-size: 14px;
    font-style: normal;
}

.tableTh {
    width: 20%;
}

select {
    border: solid 1px var(--blue-darker);
    border-radius: 5px;
    font: normal 16px "Patrick Hand";
}

.action {
    padding: .3rem;
    transition: .2s;
    border: 2px solid transparent;
}

.action:hover {
    cursor: pointer;
    border: 2px solid var(--blue-darker);
    border-radius: 5px;
    background-color: var(--white);
    transition: .2s;
}

.materialTableMobile {
    display: none;
}

@media (max-width: 768px) {
    .eachContainer:nth-child(1) {
        margin-bottom: 2rem;
    }
    
    .eachContainer:nth-child(2) {
        margin-bottom: 0rem;
    }

    .innerEachContainer {
        padding-top: 1rem;
    }
}

@media (max-width: 600px) {
    .materialTable {
        display: none;
    }
    .materialTableMobile {
        display: block;
    }
    .materialTableMobile tbody {
        display: flex;
        flex-direction: column;
    }

    .materialTableMobile tr {
        display: flex;
    }

    .materialTableMobile td {
        width: 100%;
    }

    .materialTableMobile td:nth-child(1) {
        text-align: right;
        margin-right: 1rem;
    }

    .action:nth-child(2) {
        margin-left: 0px !important;
    }

    .tdTitle {
        font-weight: bold;
    }
}