.mainContainer{
  display: flex;
  justify-content: space-between;
  height: 150px;
  border: solid 2px transparent;
  border-radius: 5px;
  background-color: var(--blue-lighter);
  padding: .5rem;
  transition: .3s;
  margin-bottom: .2rem;
}

.mainContainer:hover {
  background-color: var(--white);
  border-color: var(--blue-darker);
  transition: .3s;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.field h5 {
  margin-bottom: .5rem;
}

.field:nth-child(1) {
  padding: 1rem !important;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: .3s;
  display: flex;
  justify-content: center;
  position: relative;
}

.field:nth-child(1):hover {
  border-color: var(--blue-darker);
  transition: .3s;
}

.field:nth-child(2) {
  flex-direction: column;
  justify-content: start;
}

.optionsDropdown {
  width: 200px;
  background-color: #FFF;
  border: 2px solid var(--blue-darker);
  border-radius: 10px;
  overflow: hidden;
  z-index: 200;
}

.optionsDropdownItem {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsDropdownItem label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsDropdownItem:hover {
  background-color: var(--blue-lighter);
  cursor: pointer;
}

.upload{
  cursor: pointer;
}

.uploadImg {
width: 100%;
height: 100%;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imgOptions {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(255, 255, 255,.8);
  z-index: 99;
}

.iconCircle{
  margin: 0 5px 0 5px;
  padding: .5rem;
  border: 2px solid white;
  background-color: var(--blue-lighter);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.trash,
.edit {
  margin-right: .5rem;
}

.trash:hover,
.edit:hover {
  cursor: pointer;
}

.action {
  padding: .3rem;
  transition: .2s;
  border: 2px solid transparent;
}

.action:nth-child(1) {
  margin-right: .5rem;
}

.action:hover {
  cursor: pointer;
  border: 2px solid var(--blue-darker);
  border-radius: 5px;
  background-color: var(--white);
  transition: .2s;
}

@media (max-width: 768px) {
  .field {
    padding-top: 1rem;
  }

  img {
    max-width: 150px;
  }

  svg {
    max-width: 100px;
  }
}

@media (max-width: 470px) {
  .mainContainer {
    flex-direction: column;
    height: auto;
  }
  .field {
    align-items: center;
  }
}